
#root {
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

#circlebase {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 250px;
    height: 250px;
    padding: 0;
    margin: 0;
    margin-bottom: 20px;
    border: 10px solid black;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
}

#circle {
    width: 234px;
    height: 234px;
    padding: 0;
    margin: 0;
    border: 8px solid lightseagreen;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
}

#circleText {
    font: 3em "Fira Sans", sans-serif;
    position: absolute;
}

#spinDiv {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 10px;
    height: 282px;
    position: absolute;
    visibility: hidden;
}

#dotDiv {
    width: 10px;
    height: 10px;
    background-color: lightseagreen;
    border: 8px solid black;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
    width: 150px;
    height: 50px;
    background-color: lightseagreen;
    border-right: 2px solid darkcyan;
    border-bottom: 2px solid darkcyan;
    border-radius: 10px;
    transition: all 25ms linear;
}

.button.disabled {
    background-color: gray;
    border-right: 2px solid darkgray;
    border-bottom: 2px solid darkgray;
}

.button.disabled:hover {
    background-color: gray;
    cursor: default;
}

.button:hover {
    background-color: darkcyan;
    cursor: pointer;
}

.button p {
    font: 1.2em "Fira Sans", sans-serif;
    color: white;
}
